{% extends 'base.html.twig' %}

{% block title %}Advent of Code | Day 8{% endblock %}

{% block body %}
    <h1>Advent of Code Challenge</h1>
    <h2>Day 8</h2>
    <br/>
    <p class="lead">Please click on the links below to navigate</p>
    <a href="{{ path("one") }}">Part One</a> | <a href="{{ path("two") }}">Part Two</a>
{% endblock %}
