{% extends 'base.html.twig' %}

{% block title %}Advent of Code | Day 8{% endblock %}

{% block body %}
    <h1>Advent of Code Challenge - Day 8 part {{ part }}</h1>
    <p class="lead">The answer for part {{ part }} is  {{ answer }}</p>
{% endblock %}
